# Dependencias
vendor/
node_modules/

# Configuración sensible
config/email-config.php

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs
logs/
*.log
verification_codes.log

# Archivos temporales
tmp/
temp/

.phpdoc/
root-proyect/.phpunit.result.cache
root-proyect/.phpunit.result.cache
root-proyect/composer.json
root-proyect/composer.lock
root-proyect/tests/performance/report.html
