/* Light mode */
:root {
  --bg-main: #ffffff;
  --bg-surface: #fef8f8;
  --bg-muted: #f3e9ea;
  --text-primary: #333333;
  --text-secondary: #666666;
  --text-on-primary: #ffffff;
  --brand-primary: #6c2d3a;
  --brand-dark: #3f0f1a;
  --accent-green: #2ecc71;
  --accent-purple: #9b59b6;
  --border-color: #e0e0e0;
  --accent-blue: #83b5d5;
  --accent-orange: #e0a572;
  --pending: #fff8e6;
  --pending-border:#dda444;
  --approved: #e8f8eb;
  --approved-border:#6ac788;
  --rejected: #fdeaea;
  --rejected-border:#e7030e;
  --total: #f3e8f7;
  --total-border:#713a41;
}

/* Dark mode */
.dark-mode {
  --bg-main: #1a1214;
  --bg-surface: #291b1e;
  --bg-muted: #f0f0f0;
  --text-primary: #f0f0f0;
  --text-secondary: #b8a5a8;
  --text-on-primary: #f0f0f0;
  --brand-primary: #c87b7f;
  --brand-dark: #914f52;
  --accent-green: #27ae60;
  --accent-purple: #8e44ad;
  --border-color: #382527;
  --accent-blue: #3b85b7;
  --accent-orange: #cd6c2c;
  --pending: #503b22;
  --pending-border:#f8c300;
  --approved: #36422a;
  --approved-border:#c4fd92;
  --rejected: #4b2629;
  --rejected-border:#f06668;
  --total: #462f32;
  --total-border:#c47c80;

}

